<!DOCTYPE html>
<html>
  <head>
    <%- include('./partials/navbar') %>
    <%- include('./partials/layout') %>
  </head>
  <body>
    <div class="container">
      <p></p>
      <div class="card border-primary" style="width: 50%">
        <form action="/blogDelete/<%=blog._id%>" method="post" style="padding: 20px; font-size: 18px">
          <div class="form-group">
            <label for="summary" class="text-primary">Blog Title</label>
            <input readonly class="form-control" id="title" name="title" value="<%=blog.title%>">
            <p></p>
            <label for="text" class="text-primary">Blog Text</label>
            <textarea readonly class="form-control" id="text" rows="3" name="text"><%=blog.text%></textarea>
            <p></p>
          </div>

          <a class="btn btn-primary float-left" style="margin-right: 10px" href="/blogList" role="button">Cancel</a>
          <input type="submit" class="btn btn-danger float-right" value="Delete Blog">
          
        </form>
      </div>
      </div>
  </body>
</html>
